@import url("./reset.css");
@import url("./font.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.active-page {
		@apply absolute left-0 top-4 z-0 h-2 w-full rounded-lg bg-primary opacity-40;
	}
	.slide-track {
		@apply overflow-hidden;
		mask-image: linear-gradient(
			90deg,
			transparent 0,
			#fff 10%,
			#fff 90%,
			transparent
		);
	}
	.slide {
		@apply flex w-full gap-4;
	}
	.slide-item {
		@apply w-max flex-shrink-0 rounded-2xl border border-primary bg-white p-4;
	}
	.slide-item_img {
		@apply h-9 w-full;
	}
	.bg-gradient-exercise {
		background: linear-gradient(
			180deg,
			#fcecdb 6.32%,
			#fff2e5 6.33%,
			#ffeac2 138.09%,
			#ffeac2 138.1%
		);
	}
	.answer_false {
		@apply !border-red-500 bg-red-200 [&>div]:bg-black [&>div]:!text-white;
	}
	.answer_true {
		@apply !border-green-500 bg-green-200;
	}
	.answer_checked {
		@apply !border-green-500 bg-green-200;
	}

	.button {
		position: relative;
		cursor: pointer;
		user-select: none;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
		transition-duration: 0.4s;
		-webkit-transition-duration: 0.4s; /* Safari */
	}

	.button:hover {
		transition-duration: 0.1s;
	}

	.button:after {
		content: "";
		display: block;
		position: absolute;
		border-radius: 4em;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: all 0.5s;
		box-shadow: 0 0 10px 40px white;
	}

	.button:active:after {
		box-shadow: 0 0 0 0 white;
		position: absolute;
		border-radius: 4em;
		left: 0;
		top: 0;
		opacity: 1;
		transition: 0s;
	}

	.button:active {
		top: 1px;
	}

	a {
		@apply text-inherit transition-all duration-300;
	}

	a:hover {
		@apply !text-tertiary;
	}
}
